@import url('https://fonts.googleapis.com/css?family=Comfortaa');

#root, .App, .ant-layout {
  height: 100%;
}

.ant-layout {
  background-color: #e8eef2;
}

.ant-list-item-meta-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-title {
  position: relative;
  margin: auto;
  padding-top: 15px;
}

.logo-title img {
  position: absolute;
  width: 40px;
  left: 20px;
}

.logo-title h1 {
  font-family: Orbitron;
  padding-left: 40px;
  padding-top: 17px;
}

.ant-list-item-meta {
  align-items: stretch;
}

.ant-layout-sider {
  background-color: #f7ffff;
}

.ant-spin-container {
  background-color: #e8eef2;
}

.ant-layout-header {
  background-color: #1d2d7d;
}

.serviceListItem {
  padding: 0px 10px;
  max-width: 80%;
  margin: 10px auto;
  border-radius: 6px;

  transition: all 1s ease;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes failing {
  from {background-color: #d8000033;}
  to {background-color: white;}
}

@keyframes ok {
  from {background-color: #6fd80033;}
  to {background-color: white;}
}

.serviceListItem.stateOk {
  box-shadow: #6fd800 0px 0px 6px;
  box-shadow: 1px;
  background-color: white;

  animation-name: ok;
}

.serviceListItem.stateFailed {
  box-shadow: #d80000 0px 0px 6px;
  background-color: white;

  animation-name: failing;
}


